.add-container {
    width: 40%;
    margin: 90px auto 45px auto;
}

.tasks-container {
    margin: 45px auto;
    padding: 20px;
}

.footer-container {
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    height: 200px;
    background-color: #007bff;
}

.loader {
    margin: 0 auto;
}